# Dependencias (muy pesadas, se instalan solas en la nube)
node_modules/

# Seguridad (TU CLAVE SECRETA - NUNCA SUBIR)
.env
.env.local
.env*.local

# Archivos de sistema
.DS_Store
Thumbs.db
desktop.ini
.vercel
